body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.info-box {
  margin: auto;
  margin-bottom: 10px;
  width: 90%;
}

.degrees-text {
  font-size: 24px;
}

.dashboard-title {
  color: "lightgray";
  font-size: 48px;
  text-align: center;
  padding-top: 32px;
  margin: 0 !important;
}

.dashboard-header-content {
  font-size: 18px;
  margin: auto;
  width: 90%;
  text-align: center;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.loading-text {
  font-size: 24px;
  text-align: center;
  margin: auto auto 20px auto;
}
.is-small {
  width: 110px;
}

.weather-boxes {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.weather-boxes article {
  flex: 0 0 auto;
  margin: 0 10px 0 0 !important;
  border: 1px solid #4a4a4a;
}

.navbar {
  height: 70px;
}

.navbar div {
  padding: 0 10%;
}

.navbar-item {
  display: inline-block !important;
  width: 33%;
  margin: auto;
  text-align: center;
  color: white !important;
  font-size: 20px !important;
  line-height: 70px !important;
}

.navbar-item.active {
  background-color: white;
  color: #209cee !important;
}
